service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document=**} {
      allow write, read;
    }
    match /countries/{document=**} {
      allow read;
    }
  }
}
