service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow create: if request.resource.data.keys().hasAll(["notified", "price", "dir", "phoneCountryCode", "phoneNumber"]);
    }
  }
}
