<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Bitcoin SMS Alerts</title>
    <meta name="description" content="Bitcoin SMS Alerts">
    <meta property="og:title" content="Bitext">
    <meta property="og:url" content="https://bitext.me">
    <meta property="og:description" content="">
    <meta property="og:image" content="/static/opengraph-1280x1280.png">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#499AFF">
    <link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/favicon.png">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
  </head>
  <body>
    <noscript>Please enable JavaScript</noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
